aiofiles==0.7.0
appdirs==1.4.4        
args==0.1.0
asgiref==3.4.0        
atomicwrites==1.4.0   
attrs==24.2.0
bcrypt==3.2.0
beautifulsoup4==4.12.3
boto3==1.17.102       
botocore==1.20.102    
bson==0.5.10
cached-property==1.5.2
certifi==2024.7.4
cffi==1.14.5
chardet==3.0.4
charset-normalizer==3.3.2
click==8.1.7
clint==0.5.1
colorama==0.4.4
comtypes==1.4.6
convertdate==2.4.0
coverage==7.6.1
cryptography==42.0.8
cycler==0.10.0
dataclasses-json==0.6.7
DateTime==4.3
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.2
dnspython==2.6.1
docstring_parser_fork==0.0.5
docutils==0.21.2
ecdsa==0.17.0
email-validator==1.1.3
et-xmlfile==1.1.0
exceptiongroup==1.2.2
exchangelib==5.4.2
fastapi==0.65.2
filelock==3.0.12
fire==0.4.0
fonttools==4.53.1
fpdf2==2.7.5
furl==2.1.3
GeoAlchemy2==0.9.1
graphviz==0.13.2
greenlet==1.1.0
h11==0.12.0
hijri-converter==2.3.1
holidays==0.21.13
htmldocx==0.0.6
idna==2.10
imageio==2.34.2
importlib_metadata==8.2.0
iniconfig==1.1.1
isodate==0.6.1
java-access-bridge-wrapper==1.2.0
jmespath==0.10.0
jose==1.0.0
jsonpath-ng==1.6.1
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
kiwisolver==1.3.2
korean-lunar-calendar==0.3.1
lxml==5.2.2
mariadb==1.0.7
marshmallow==3.21.3
matplotlib==3.4.3
more-itertools==10.4.0
mss==6.1.0
mypy-extensions==1.0.0
natsort==8.0.0
netsuitesdk==1.24.0
notifiers==1.3.3
numpy==1.26.0
O365==2.0.26
oauthlib==3.2.2
opencv-python==4.5.3.56
openpyxl==3.1.5
orderedmultidict==1.0.1
outcome==1.3.0.post0
packaging==24.1
pandas==2.1.1
passlib==1.7.4
pdfminer.six==20221105
pendulum==2.1.2
pillow==10.4.0
pipenv==2021.5.29
platformdirs==4.2.2
pluggy==0.13.1
ply==3.11
psutil==5.9.8
psycopg2-binary==2.9.1
py==1.10.0
pyasn1==0.4.8
pycosat==0.6.6
pycparser==2.20
pycurl==7.45.3
pydantic==1.8.2
Pygments==2.18.0
PyJWT==2.9.0
PyMeeus==0.5.12
PyMySQL==1.0.2
pynput-robocorp-fork==5.0.0
pyotp==2.9.0
pyparsing==2.4.7
pypdf==3.17.4
pyperclip==1.9.0
PySocks==1.7.1
pyspnego==0.11.1
pytest==6.2.4
python-dateutil==2.8.2
python-docx==0.8.11
python-dotenv==1.0.1
python-jose==3.3.0
python-multipart==0.0.5
pytz==2021.1
pytz-deprecation-shim==0.1.0.post0
pytzdata==2020.1
pywin32==306
pywinauto==0.6.8
PyYAML==6.0.1
referencing==0.35.1
requests==2.32.3
requests-file==2.1.0
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
requests_ntlm==1.3.0
robocorp==2.1.0
robocorp-log==2.9.2
robocorp-storage==1.0.4
robocorp-tasks==3.1.1
robocorp-vault==1.3.6
robocorp-workitems==1.4.5
robohash==1.1
robotframework==6.1.1
robotframework-pythonlibcore==4.4.1
robotframework-requests==0.9.7
robotframework-sapguilibrary==1.1
robotframework-seleniumlibrary==6.5.0
robotframework-seleniumtestability==2.1.0
rpaframework==28.6.1
rpaframework-core==11.3.3
rpaframework-pdf==7.3.2
rpaframework-windows==7.5.1
rpds-py==0.20.0
rsa==4.7.2
s3transfer==0.4.2
selenium==4.15.2
simple-salesforce==1.12.6
six==1.16.0
smartsheet-python-sdk==3.0.4
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.5
SQLAlchemy==1.4.20
sspilib==0.1.0
starlette==0.14.2
stringcase==1.2.0
tenacity==8.5.0
termcolor==2.4.0
toml==0.10.2
tomli==2.0.1
tqdm==4.66.5
trio==0.26.1
trio-websocket==0.11.1
tweepy==3.10.0
typing==3.7.4.3
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2023.3
tzlocal==4.3.1
uiautomation==2.0.20
urllib3==1.26.6
uuid==1.30
uvicorn==0.14.0
validators==0.20.0
virtualenv==20.4.7
virtualenv-clone==0.5.4
webdriver-manager==4.0.2
webdrivermanager==0.10.0
websocket-client==1.8.0
wrapt==1.16.0
wsproto==1.2.0
xlrd==2.0.1
XlsxWriter==3.1.6
xlutils==2.0.0
xlwt==1.3.0
zeep==4.2.1
zipp==3.19.2
zope.interface==5.4.0